{% set messages = navigation.messages %}
{% set tasks = navigation.tasks %}
{% set notifications = navigation.notifications %}
{% set profile_options = navigation.profile_options %}
<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-messages">
            {% for message in messages %}
                <li>
                    <a href="#">
                        <div>
                            <strong>{{ message.author }}</strong>
                            <span class="pull-right text-muted">
                                <em>Yesterday</em>
                            </span>
                        </div>
                        <div>{{ message.body }}</div>
                    </a>
                </li>
                <li class="divider"></li>
            {% endfor %}
        <!-- /.dropdown-messages -->
        </ul>
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-tasks">
            {% for task in tasks %}
                {% set percent = task.percent %}
                <li>
                    <a href="#">
                        <div>
                            <p>
                                <strong>Task {{ task.id }}</strong>
                                <span class="pull-right text-muted">{{ percent }}% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-{{ task.status }}" role="progressbar" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%">
                                    <span class="sr-only">{{ percent }}% Complete (success)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
            {% endfor %}
            <li>
                <a class="text-center" href="#">
                    <strong>See All Tasks</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <!-- /.dropdown-tasks -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
            {% for notification in notifications %}
                <li>
                    <a href="#">
                        <div>
                            <i class="fa {{ notification.icon }} fa-fw"></i> {{ notification.title }}
                            <span class="pull-right text-muted small">{{ notification.time }}</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
            {% endfor %}
            <li>
                <a class="text-center" href="#">
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <!-- /.dropdown-alerts -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            {% for profile_option in profile_options %}
                {% set title = profile_option.title %}
                {% if title == "Logout" %}
					<li class="divider"></li>
				{% endif %}
                <li>
                    <a href="#"><i class="fa {{ profile_option.icon }} fa-fw">
                    </i> {{ title }}
                </a></li>
            {% endfor %}
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
