<ul class="nav navbar-top-links navbar-right">

    <li class="dropdown hidden-xs hidden-sm">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <img id="avatar" src="https://avatars.io/gravatar/sakohartounian@yahoo.com" alt="" /> Sako Hartounian
        </a>
        <ul class="dropdown-menu dropdown-user">
            {% for item in navigation %}
                {% set title = item.title %}
                {% if title == "Logout" %}
					<li class="divider"></li>
				{% endif %}
                <li>
                    <a href="#"><i class="fa {{ item.icon }} fa-fw">
                    </i> {{ title }}
                </a></li>
            {% endfor %}
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
