<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i> Notifications Panel
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            {% for notification in notifications %}
                <a href="#" class="list-group-item">
                    <i class="fa {{ notification.icon }} fa-fw"></i> {{ notification.title }}
                    <span class="pull-right text-muted small"><em>{{ notification.time }}</em>
                    </span>
                </a>
            {% endfor %}
        </div>
        <!-- /.list-group -->
        <a href="#" class="btn btn-default btn-block">View All Alerts</a>
    </div>
    <!-- /.panel-body -->
</div>
