<div class="row">
    {% for panel_box in panel_boxes %}
        <div class="col-lg-3 col-md-6">
            <div class="panel {{ panel_box.bg_class }}">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa {{ panel_box.icon }} fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ panel_box.count }}</div>
                            <div>{{ panel_box.title }}</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
