<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
            {% for item in sidebar %}
                <li>
                    <a href="#"><i class="fa {{ item.icon }} fa-fw"></i> {{ item.title }}
                    {% if item.dropdown %}
                        <span class="fa arrow"></span></a>
                        {% for dropdown_item in item.dropdown %}
                            <ul class="nav nav-second-level">
                                <li><a href="#">{{ dropdown_item }}</a></li>
                            </ul>
                        {% endfor %}
                    {% else %}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
