table.dataTable thead {
  .sorting, .sorting_asc, .sorting_desc, .sorting_asc_disabled, .sorting_desc_disabled {
    background: transparent;
  }

  .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
  }

  .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
  }

  .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
  }
}
