<ul class="nav navbar-top-links navbar-right">
    {{#each navigation}}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa {{icon}} fa-fw"></i> {{title}}
            </a>
        </li>
    {{/each}}
</ul>
