<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i> Notifications Panel
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            {{#each notifications }}
                <a href="#" class="list-group-item">
                    <i class="fa {{icon}} fa-fw"></i> {{title}}
                    <span class="pull-right text-muted small"><em>{{time}}</em>
                    </span>
                </a>
            {{/each}}
        </div>
        <!-- /.list-group -->
        <a href="#" class="btn btn-default btn-block">View All Alerts</a>
    </div>
    <!-- /.panel-body -->
</div>
