{% extends "layout.html" %}
{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    {% include "partials/panel_boxes.html" %}
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            {% include "partials/area_chart.html" %}
            <!-- /.panel -->
            {% include "partials/bar_chart.html" %}
            <!-- /.panel -->
            {% include "partials/timeline.html" %}
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            {% include "partials/notifications_panel.html" %}
            <!-- /.panel -->
            {% include "partials/donut_chart.html" %}
            <!-- /.panel -->
            {% include "partials/chat_box.html" %}
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
{% endblock %}
