// Global Styles
@import "admin/variables";
@import "admin/mixins";

body {
  background-color: $gray-lightest;
}

// Wrappers
@import "layouts/wrapper";

// Navigation
@import "layouts/navigation";

// Buttons
@import "modules/buttons";

// Chat Widget
@import "modules/chat";

// Login Page

.login-panel {
  margin-top: 25%;
}

// Flot Charts Containers
@import "modules/flot-chart";

// DataTables
@import "modules/data-tables";

// Grid Demo Elements

.show-grid {
  margin: 15px 0;

  [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
  }
}

// Custom Colored Panels
@import "modules/panels";

// Timeline
@import "modules/timeline";

// Metis
@import "modules/metis-menu";
