.panel.panel-default {
    cursor: move;
}

.navbar, #side-menu, #wrapper {
    background-color: $background-color;
    a.sidebar-top-level, a.dropdown-toggle, ul.nav-second-level a, a.navbar-brand {
        color: white;
        &:hover, &:visited{
            background-color: darken($background-color, 10%);
        }
    }
}
